.container {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    margin-top: 90px;
}

.text {
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-size: larger;
    color: chocolate;
}

.drag-handle {
    background-color: #ccc;
    padding: 5px;
    cursor: move;
}  

.drag-handle-icon {
    font-size: 1.2rem;
}

.chessboard-div {
    border: 2px solid black;
  }